body {
    padding: 100px;
}
.submit-area {
    margin-top: 50px;
    box-shadow: 0px 2px 15px 5px lightgray;
    border-radius: 25px;
    padding: 50px;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: lightsalmon;
}
.withdraw{
    background-color: slateblue;
}
.balance{
    background-color: orange;
}
.status{
    margin: 0 20px;
    color: white;
    border-radius: 15px;
    padding: 20px;
}